<mat-card>
    <mat-card-content>
        <h2>
            Employee DashBoard
        </h2>
        <table class="Employee-table" >
         <tr>
            <th><b>Name</b></th>
            <th><b>Position</b></th>
            <th><b>Address</b></th>
            <th><b>PhoneNumber</b></th>
        </tr> 
        <tr *ngFor="let e of Employees">

                <td>{{e.name}}</td>
                <td>{{e.position}}</td>
                <td>{{e.address}}</td>
                <td>{{e.phoneNumber}}</td>
            </tr>
          
    
        </table>
    </mat-card-content>
</mat-card>